/* Variables */
$font-size-base: 16px;
$body-bg: #fff;
$body-color: #333;

$color-logotype: #3cc3b5;
$color-price: #a1a1a1;

$bg-nav: #4ccfc1;

$color-nav-link: #fff;
$color-nav-link-hover: #f0f0f0;

$color-categories-title: #afafaf;
$color-categories-button: #3cc395;

$currency: "$";

$font-family-OpenSans: 'Open Sans', sans-serif;
$font-family-Oswald: 'Oswald', sans-serif;
$font-family-Lobster: 'Lobster', cursive;