/* Variables */
html, body {
  font-size: 16px;
}

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  max-width: 1000px;
}

/* header */
.logotyp {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  color: #3cc3b5;
}

.fa-shopping-basket {
  color: #3cc3b5;
}

.shoppingBasket_fas-font {
  font-size: 2.4rem;
}

.price {
  font-weight: 700;
  font-size: 1.7rem;
  color: #a1a1a1;
  font-family: "Oswald", sans-serif;
}

.price::after {
  content: "$";
}

/* Nav */
.navbar {
  background-color: #4ccfc1;
}

.nav-item {
  padding: 0px;
}

.nav-link {
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #f0f0f0;
  text-decoration: none;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.8);
}

.navbar-toggler .fas {
  padding: .2rem 0;
  font-size: 1.4rem;
  color: #fff;
}

/* Slider */
.slider .carousel-inner {
  min-height: 450px;
  height: 450px;
}

.carousel-caption {
  top: 48px;
  bottom: auto;
}

.carousel_announcement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel_images {
  display: block;
  width: 100%;
  min-height: 450px;
}

.carousel-indicators li {
  border-radius: 100%;
  height: 10px;
  width: 10px;
}

.information__title {
  line-height: 1.1;
  font-size: 3.6rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.information__text {
  font-size: 1.4rem;
  font-family: "Oswald", sans-serif;
  max-width: 370px;
}

.btn-link {
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.btn-link:hover {
  text-decoration: none;
  color: #f0f0f0;
}

.btn_information {
  padding: 0.3rem 2rem;
  border-radius: .5rem;
  border: 3px solid #fff;
}

/* Categories */
.categories .img-thumbnail {
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
}

.title {
  line-height: 1.1;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #afafaf;
}

.btn_categories {
  padding: 0.3rem 0.9rem;
  border-radius: .5rem;
  border-radius: 4px;
  background-color: #3cc395;
}

.categories__information .btn-link {
  font-size: 1rem;
}

/* Section */
.section__title {
  line-height: 1.1;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #4ccfc1;
}

/* Product */
.products__item .img-thumbnail {
  width: 90%;
  margin: 0 auto;
}

.products__item .img-thumbnail::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin: 1.5rem auto 0;
  background-color: #4ccfc1;
  border-radius: inherit;
}

.btn_products {
  padding: auto auto;
  border-radius: .5rem;
  border-radius: 4px;
  background-color: #3cc395;
}

.btn_products__btn-link_font-size {
  font-size: 1rem;
}

.products__price_font-size {
  font-size: 1.5rem;
}

/* Footer */
.footer {
  color: #fff;
  background-color: #4ccfc1;
}

.footer .nav-link {
  font-weight: 300;
  text-transform: none;
}

.footer .nav-link:after {
  display: none;
}

.nav-title {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.copyright {
  color: #fff;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  background-color: #2da89b;
}

/* Media */
@media (min-width: 992px) {
  .nav-link {
    position: relative;
  }
  .nav-link::after {
    content: "";
    display: block;
    width: 2px;
    height: 1.2rem;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .nav-item:last-child
.nav-link::after {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */